passlib[bcrypt]
bcrypt<5.0.0
python-jose[cryptography]
pydantic
# Framework and server
fastapi
uvicorn

# Database layer
sqlmodel
sqlalchemy
aiosqlite
httpx
email-validator
python-multipart
qrcode[pil]
